.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
  	height: 400px;
  	/*margin-left: 30px;*/
      margin: auto;
      margin-left: 120px;
      /*border:1px black solid;*/
  }
.web-info{
	/*border:1px black solid;*/
}
.carousel-inner .item{
	box-shadow: 50px 5px 5px #888888;
}

.carousel-control{
	width: 70px;
	background-image: none;
	box-shadow: none;
	background-color:none;
}
.glyphicon-chevron-right,.glyphicon-chevron-left{
	color: white;
}